.header {
  background-color: #004225; 
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 15vh; 
  width: 100%;
  margin-bottom: 30px;
}

.header-logo {
  height: 80%;
  margin-right: 20px;
}

.header-nav {
  flex-grow: 1;
}

.header-nav .nav-link {
  background-color: #66bb6a;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  border-radius: 20px; 
}

.header-nav .nav-link:hover {
  background-color: #ffa726; 
}
