body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Home Page */

.HomePage nav {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 20px 0;
}


.HomePage .button {
  display: flex;
  justify-content: center;
  margin: 20px auto 15px;
  width: 40%; 
  padding: 15px;
  background-color: #004225; 
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px; 
  border: 2px solid #004225; 
}

.HomePage .button:hover {
  background-color: #cc8400;
}

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #004225 15%, #66bb6a 80%); 
  color: white;
  text-align: center;
  padding-top: 5vh; 
  min-height: 100vh;
}

.AboutButton {
  background-color: transparent;
  color: #004225;
  border: 2px solid #004225;
  border-radius: 20px; 
  padding: 10px;
  margin-top: 20px;
}

.HomePage header {
  margin-top: 1vh; 
}


/* for add and edit page */
.participant-form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 20px 20px;
  background-color: #f4f4f4;
}

.participant-form-page form {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

/* Styling for each form group to ensure labels and inputs are on the same line */
.participant-form-page form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Adjust the label to align correctly */
.participant-form-page label {
  flex: 1;
  color: #004225;
  font-weight: bold;
  text-align: left;
  padding-right: 10px; /* Adds space between the label and the input field */
}

/* Styling for input fields to ensure alignment and full utilization of available space */
.participant-form-page input[type="text"],
.participant-form-page input[type="date"] {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Styling for the submit button */
.participant-form-page button[type="submit"] {
  background-color:  #66bb6a;
  transition: background-color 0.3s ease;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.participant-form-page button[type="submit"]:hover {
  background-color: #ffa726;
}


.manage-participant-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 0 20px 20px;
  background-color: #f4f4f4;
}