.HomePage .button {
  display: block;
  margin: 20px auto 15px;
  width: 40%; 
  padding: 15px;
  background-color: #004225; 
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px; 
  border: 2px solid #004225; 
}

.HomePage .button:hover {
  background-color: #cc8400;
}

.HomePage {
  background: linear-gradient(to bottom, #004225 15%, #66bb6a 80%); 
  color: white;
  text-align: center;
  padding-top: 10vh; 
  min-height: 100vh;
}

.AboutButton {
  background-color: transparent;
  color: #004225;
  border: 2px solid #004225;
  border-radius: 20px; 
  padding: 10px;
  margin-top: 20px;
}

